#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 3% 15%;
}

.my-img {
  transform: rotate(35deg);
}

/* Navbar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: Bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
}

/* Features */
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

#features {
  padding: 7% 15%;
  text-align: center;
}

.feature-paragraph {
  color: #8f8f8f;
}

.feature-image {
  color: #ef8172;
  font-size: 3rem;
  padding-bottom: 10px;
}

.feature-image:hover {
  color: #ff4c68;
  font-size: 3rem;
  padding-bottom: 10px;
}

/* Testimonial section */
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press section */
#press {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/*  CTA Section*/
#cta {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.colored-section {
  padding: 10% 15%;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
